/*------- Supplier Form Body : 1st div : p : 1st of type ---------*/
#body-supplier > div:first-of-type >p:first-of-type{
    -webkit-text-fill-color: plum;
    font-size: 3vw;
    text-shadow: 5px 5px 0px darkmagenta, 3px 3px 0px darkmagenta;

}
/*------- Supplier Form Body : 2nd div---------*/
#body-supplier > div:nth-of-type(2){
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8]
 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row12-fin];
}
/*choose supplier category*/
#body-supplier > div:nth-of-type(2) > .supplier-box:nth-of-type(3) > .choose-supplier-category{
    display: grid;
    grid-template-rows: [start] 1fr [end];
    grid-template-columns: [col1-start] 0.8fr [col2] 5.2fr [col2-fin];
}
#supplier-category{
    grid-column-start: col2;
    grid-row-start: start;

    border: 0px;
    outline: 0px;
    border-bottom: 2px solid lightgrey;
    background-color: white;
    font-size: 1vw;
    font-family: "Prosto One", sans-serif;
    -webkit-text-fill-color: grey;
    align-content: space-evenly;
    text-align: left;
}
/*------- Supplier Form Body : 3rd div : div:nth-of-type(2) : button ---------*/
#body-supplier > div:nth-of-type(3) > div:nth-of-type(2) > button:hover {background-color: #3E2E0C}

#body-supplier > div:nth-of-type(3) > div:nth-of-type(2) > button:active {
    background-color: #3E2E0C;
    box-shadow: 0 5px lightgrey;
    transform: translateY(4px);
}
/*------- Form Body : 4th div : div:first-of-type : .tbl.search.btn ---------*/
#body-supplier > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn{
    background-color: darkmagenta;
    box-shadow: plum 2.4px 2.4px 3.2px;
}
#body-supplier > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn:active {
    box-shadow: 0 1.5px darkmagenta;
}
/*------- Form Body : 4th div : div:first-of-type : input ---------*/
#body-supplier > div:nth-of-type(4) > div:first-of-type > input{
    border-bottom: 2px solid darkmagenta;
    box-shadow: darkmagenta 2.4px 2.4px 3.2px;
}
/*---------------------table--------------------*/
#supplier-tbl > thead th {
    background-color: plum;
}
