#body-admin > div:first-of-type >p:first-of-type{
    top: 50%;

    -webkit-text-fill-color: cornflowerblue;
    font-size: 3vw;
    text-shadow: 5px 5px 0px #3E2E0C, 3px 3px 0px #3E2E0C;

}
#body-admin > div:nth-of-type(2){
    grid-column-start: col2;
    background-color: lightgrey;
}
#body-admin > div:nth-of-type(3){
    grid-column-start: col3;
    background-color: lightskyblue;
}
#body-admin > div:nth-of-type(4){
    grid-column-start: col4;
    background-color: lightsalmon;
}