#body-supplier{
    width: 100%;
    height: 100%;

    background-color:black;

    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    margin: auto;

    z-index: 0;

    display: grid;
    grid-template-columns: [col1-first] 5% [col2] 36% [col3] 4% [col4] 55% [col4-fin];
    grid-template-rows: [start] 100% [fin];

}
#body-supplier > div:first-of-type{
    grid-column-start: col1-first;
    background-color: white;
    position: relative;
}
#body-supplier > div:first-of-type > button{
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;

    width: 65%;
    aspect-ratio: 1/1;
    background-color: #FDC611;

    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#body-supplier > div:first-of-type >p:first-of-type{
    rotate: -90deg;
    /*background-color: pink;*/

    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    /*bottom: 2%;*/

    font-family: "Inter",sans-serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    -webkit-text-fill-color: plum;
    font-size: 3vw;
    text-shadow: 5px 5px 0px darkmagenta, 3px 3px 0px darkmagenta;

}
#body-supplier > div:nth-of-type(2){
    grid-column-start: col2;
    background-color: lightgrey;

    display: grid;
    grid-template-columns: [start] 100% [fin];
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8]
 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row12-fin];
}
#body-supplier > div:nth-of-type(2) > .supplier-box{
    grid-column-start: start;
    grid-column-end: fin;
    background-color: white;
    /*border: 1px grey solid;*/

    position: relative;

    display: grid;
    grid-template-columns: [col1-start] 1.5fr [col2] 2.5fr [col2-fin];
    grid-template-rows: [row1-start] 2fr [row2] 1fr [row2-fin];
}
#body-supplier > div:nth-of-type(2) > .supplier-box > .input-lbl{
    grid-column-start: col1-start;
    grid-row-start: row1-start;

    background-color: white;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-fill-color: dimgrey;
    font-size: 1.3vw;
    align-content: space-evenly;
    text-align: right;
}
#body-supplier > div:nth-of-type(2) > .supplier-box > .input-txt{
    border:none;
    outline:none;
    display:inline-block;

    border-bottom: 2px solid lightgrey;
    background-color: transparent;

    font-size: 1vw;
    font-family: "Prosto One", sans-serif;
    -webkit-text-fill-color: dimgrey;
}
#body-supplier > div:nth-of-type(2) > .supplier-box > .error{
    grid-column-start: col2;
    grid-row-start: row2;

    background-color: white;
    font-family: "Julius Sans One", sans-serif;
    font-style: normal;
    -webkit-text-fill-color: red;
    font-size: 0.8vw;
    font-weight: bold;
    align-content: space-evenly;
    text-align: right;
}
/*choose supplier category*/
#body-supplier > div:nth-of-type(2) > .supplier-box:nth-of-type(3) > .choose-supplier-category{
    display: grid;
    grid-template-rows: [start] 1fr [end];
    grid-template-columns: [col1-start] 0.8fr [col2] 5.2fr [col2-fin];
}
#supplier-category{
    grid-column-start: col2;
    grid-row-start: start;

    border: 0px;
    outline: 0px;
    border-bottom: 2px solid lightgrey;
    background-color: white;
    font-size: 1vw;
    font-family: "Prosto One", sans-serif;
    -webkit-text-fill-color: grey;
    align-content: space-evenly;
    text-align: left;
}
/*!*----- btn panel -------*!*/
#body-supplier > div:nth-of-type(3) > div:nth-of-type(2) > button:hover {background-color: #3E2E0C}

#body-supplier > div:nth-of-type(3) > div:nth-of-type(2) > button:active {
    background-color: #3E2E0C;
    box-shadow: 0 5px lightgrey;
    transform: translateY(4px);
}
/*----------- Supplier table ------------*/
#body-supplier > div:nth-of-type(4){
    grid-column-start: col4;
    background-color: white;

    display: grid;
    grid-template-columns: [start] 1fr [fin];
    grid-template-rows: [row1-start] 0.5fr [row2] 9.5fr [row2-fin];
    row-gap: 4px;
}
#body-supplier > div:nth-of-type(4) > div:first-of-type{
    grid-column-start: start;
    grid-row-start: row1-start;

    background-color: white;
    display: grid;
    grid-template-columns: [col1-start] 10.3fr [col2] 0.7fr [col2-fin];
    grid-template-rows: [start] 1fr [fin];

    justify-items:center ;
}
#body-supplier > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn{
    grid-column-start: col2;
    background-color: darkmagenta;

    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: plum 2.4px 2.4px 3.2px;

    height: 90%;
    width: 95%;
    position: relative;
    top: 3px;
    -webkit-text-fill-color: white;
}
#body-supplier > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn:active {
    background-color: lightgrey;
    box-shadow: 0 1.5px darkmagenta;
    transform: translateY(2px);
}
#body-supplier > div:nth-of-type(4) > div:first-of-type > input{
    grid-column-start: col1-start;
    grid-row-start: start;

    width: 100%;
    height: 80%;
    position: relative;
    top: 3px;

    border:none;
    outline:none;
    display:inline-block;

    border-bottom: 2px solid darkmagenta;
    background-color: whitesmoke;

    font-size: 1.3vw;
    font-family: "Prosto One", sans-serif;
    -webkit-text-fill-color: dimgrey;
    text-align: left;
    box-shadow: darkmagenta 2.4px 2.4px 3.2px;
}
#body-supplier > div:nth-of-type(4) > div:nth-of-type(2){
    grid-column-start: start;
    grid-row-start: row2;

    background-color:white;
    overflow: scroll;
}
/*---------------------table--------------------*/
#supplier-tbl{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    background-color: whitesmoke;
    table-layout: fixed;
    width: 100%;
}
#supplier-tbl > thead th {
    background-color: plum;
    -webkit-text-fill-color: #3E2E0C;
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.3vw;
}
