/*-------Customer Form Body : 1st div : p : 1st of type ---------*/
#body-customer > div:first-of-type >p:first-of-type{
    -webkit-text-fill-color: darkblue;
    font-size: 3vw;
    text-shadow: 5px 5px 0px deepskyblue, 3px 3px 0px lightgrey;

}
/*------- Customer Form Body : 2nd div---------*/
#body-customer > div:nth-of-type(2){
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8]
 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [row14] 1fr [row15] 1fr [row15-fin];
}
/*------- Customer Form Body : 2nd div : .[]-box:nth-of-type(5) : .choose-level ---------*/
#body-customer > div:nth-of-type(2) > .customer-box:nth-of-type(5) > .choose-level{
    display: grid;
    grid-template-rows: [start] 1fr [end];
    grid-template-columns: [col1-start] 0.6fr [col2] 5.4fr [col2-fin];
}
.level{
    grid-column-start: col2;
    grid-row-start: start;

    border: 0px;
    outline: 0px;
    border-bottom: 2px solid lightgrey;
    background-color: white;
    font-size: 1vw;
    font-family: "Prosto One", sans-serif;
    align-content: space-evenly;
    text-align: left;
}
#input-customer-level,
#input-customer-gender,
#input-customer-address-main-city,
#input-customer-address-main-state,
#input-customer-joined-date,
#input-customer-dob {
    -webkit-text-fill-color: lightgrey;
    font-size: 1vw;
}
/*------- Customer Form Body : 3rd div : div:nth-of-type(2) : button ---------*/
#body-customer > div:nth-of-type(3) > div:nth-of-type(2) > button:hover {background-color: #3E2E0C}

#body-customer > div:nth-of-type(3) > div:nth-of-type(2) > button:active {
    background-color: #3E2E0C;
    box-shadow: 0 5px lightgrey;
    transform: translateY(4px);
}
/*------- Customer Form Body : 4th div : div:first-of-type : .tbl.search.btn ---------*/
#body-customer > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn{
    background-color: darkblue;
    box-shadow: lightskyblue 2.4px 2.4px 3.2px;
}
#body-customer > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn:active {
    box-shadow: 0 1.5px darkblue;
}
/*------- Customer Form Body : 4th div : div:first-of-type : input ---------*/
#body-customer > div:nth-of-type(4) > div:first-of-type > input{
    border-bottom: 2px solid darkblue;
    box-shadow: darkblue 2.4px 2.4px 3.2px;
}
/*---------------------table--------------------*/
#customer-tbl > thead th {
    background-color:  lightskyblue;
}
.tbl-lvl > .icon-tbl > i{
    -webkit-text-fill-color: red;
}