/*------- Employee Form Body : 1st div : p : 1st of type ---------*/
#body-employee > div:first-of-type >p:first-of-type{
    -webkit-text-fill-color: crimson;
    font-size: 3vw;
    text-shadow: 5px 5px 0px pink, 3px 3px 0px pink;

}
/*------- Employee Form Body : 2nd div---------*/
#body-employee > div:nth-of-type(2){
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8]
 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row12-fin];

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: lightgrey white;   /* scroll thumb and track */
}
/*------- Employee Form Body : 2nd div : .box : .error ---------*/
#body-employee > div:nth-of-type(2) > .employee-box > .error{
    margin-bottom: 3px;
}
/*------- Employee Form Body : 2nd div : .box:nth-of-type(3) ---------*/
#body-employee > div:nth-of-type(2) > .employee-box:nth-of-type(3){
    /*background-color: #8AD788;*/
    height: 180px;
}
#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose{
    /*background-color: #EFE861;*/

    display: grid;
    grid-template-rows: [start] 1fr [fin];
    grid-template-columns: [col1-start] 3fr [col2] 1fr [col3] 1fr [col3-fin];
}
#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:first-of-type{
    grid-column-start: col1-start;
    grid-row-start: start;

    background-color: transparent;
    aspect-ratio: 1/0.6;
    position: relative;

    height: 150px;
}
#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:first-of-type > img{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    margin: auto;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:nth-of-type(2){
    grid-column-start: col2;
    grid-row-start: start;

    background-color: transparent;

    position: relative;
}
#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:nth-of-type(2) > button{
    width: 40px;
    aspect-ratio: 1/1;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;

    border-radius: 10px;
    border: transparent;
    background-color: pink;
    /*border: 1px gray solid;*/
}
/*#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:nth-of-type(2) > button:hover {background-color: lightgrey}*/

#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:nth-of-type(2) > button:active {
    background-color: crimson;
    box-shadow: 0 5px pink;
    transform: translateY(4px);
}
#body-employee > div:nth-of-type(2) > .employee-box > .employee-img-choose > div:nth-of-type(3){
    grid-column-start: col3;
    grid-row-start: start;
    /*background-color: #e4eded;*/
}

/*------- Employee Form Body : 3rd div : div:nth-of-type(2) : button ---------*/
#body-employee > div:nth-of-type(3) > div:nth-of-type(2) > button:hover {
    background-color: lightgrey;
}
#body-employee > div:nth-of-type(3) > div:nth-of-type(2) > button:active {
    background-color: crimson;
    box-shadow: 0 5px pink;
    transform: translateY(4px);
}
/*------- Employee Form Body : 4th div : div:first-of-type : .tbl.search.btn ---------*/
#body-employee > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn{
    background-color: crimson;
    box-shadow: pink 2.4px 2.4px 3.2px;
}
#body-employee > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn:active {
    box-shadow: 0 1.5px crimson;
}
/*------- Employee Form Body : 4th div : div:first-of-type : input ---------*/
#body-employee > div:nth-of-type(4) > div:first-of-type > input{
    border-bottom: 2px solid crimson;
    box-shadow: crimson 2.4px 2.4px 3.2px;
}
/*---------------------table--------------------*/
#employee-tbl > thead th {
    background-color: pink;
}
.inventory-tbl-img{
    height: 100px;
    width: 80px;
    /*background-color: #C5ACE3;*/
}