/*------- Inventory Form Body : 1st div : p : 1st of type ---------*/
#body-inventory > div:first-of-type >p:first-of-type{
    -webkit-text-fill-color: greenyellow;
    font-size: 3vw;
    text-shadow: 5px 5px 0px forestgreen, 3px 3px 0px forestgreen;

}
/*------- Inventory Form Body : 2nd div---------*/
#body-inventory > div:nth-of-type(2){
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8]
 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row11-fin];
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(3) > .error{
    /*background-color: #C5ACE3;*/
    height: 30px;
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(3){
    /*background-color: #8AD788;*/
    height: 180px;
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose{
    /*background-color: #EFE861;*/

    display: grid;
    grid-template-rows: [start] 1fr [fin];
    grid-template-columns: [col1-start] 3fr [col2] 1fr [col3] 1fr [col3-fin];
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:first-of-type{
    grid-column-start: col1-start;
    grid-row-start: start;

    background-color: transparent;
    aspect-ratio: 1/0.6;
    position: relative;

    height: 150px;
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:first-of-type > img{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    margin: auto;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:nth-of-type(2){
    grid-column-start: col2;
    grid-row-start: start;

    background-color: transparent;

    position: relative;
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:nth-of-type(2) > button{
    width: 40px;
    aspect-ratio: 1/1;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;

    border-radius: 10px;
    border: transparent;
    background-color: greenyellow;
    /*border: 1px gray solid;*/
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:nth-of-type(2) > button:hover {background-color: lightgrey}

#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:nth-of-type(2) > button:active {
    background-color: forestgreen;
    box-shadow: 0 5px lightgrey;
    transform: translateY(4px);
}
#body-inventory > div:nth-of-type(2) > .inventory-box > .item-img-choose > div:nth-of-type(3){
    grid-column-start: col3;
    grid-row-start: start;
    /*background-color: #e4eded;*/
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(4) > .choose-category{
    display: grid;
    grid-template-rows: [start] 1fr [end];
    grid-template-columns: [col1-start] 0.6fr [col2] 5.4fr [col2-fin];
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(4) > .choose-category > .icon{
    /*background-color: #EFE861;*/
    height: 100%;
    /*width: 80%;*/
    position: relative;
    top: 8px;
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(4) > .choose-category > .choose-category-sub{
    grid-column-start: col2;
    grid-row-start: start;

    background-color: deeppink;

    display: grid;
    grid-template-columns: [start] 1fr [fin];
    grid-template-rows: [row1-start] 1fr [row2] 1fr [row2-fin];
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(4) > .choose-category > .choose-category-sub > #categories-one{
    grid-column-start: start;
    grid-row-start: row1-start;
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(4) > .choose-category > .choose-category-sub > #categories-two{
    grid-column-start: start;
    grid-row-start: row2;
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(5) > .choose-item-size{
    display: grid;
    grid-template-rows: [start] 1fr [end];
    grid-template-columns: [col1-start] 1fr [col2] 1fr [col2-fin];
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(5) > .choose-item-size > #item-size-one{
    grid-column-start: col1-start;
    grid-row-start: start;
}
#body-inventory > div:nth-of-type(2) > .inventory-box:nth-of-type(5) > .choose-item-size > #item-size-two{
    grid-column-start: col2;
    grid-row-start: start;
}
.category , .item-size , .inventory-supplier-code , .inventory-status{
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid lightgrey;
    background-color: white;
    font-size: 1vw;
    font-family: "Prosto One", sans-serif;
    -webkit-text-fill-color: grey;
    align-content: space-evenly;
    text-align: left;
}
/*------- Inventory Form Body : 3rd div : div:nth-of-type(2) : button ---------*/
#body-inventory > div:nth-of-type(3) > div:nth-of-type(2) > button:hover {background-color: lightgrey}

#body-inventory > div:nth-of-type(3) > div:nth-of-type(2) > button:active {
    background-color: forestgreen;
    box-shadow: 0 5px lightgrey;
    transform: translateY(4px);
}
/*------- Inventory Form Body : 4th div : div:first-of-type : .tbl.search.btn ---------*/
#body-inventory > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn{
    background-color: forestgreen;
    box-shadow: greenyellow 2.4px 2.4px 3.2px;
}
#body-inventory > div:nth-of-type(4) > div:first-of-type >.tbl-search-btn:active {
    box-shadow: 0 1.5px forestgreen;
}
/*------- Inventory Form Body : 4th div : div:first-of-type : input ---------*/
#body-inventory > div:nth-of-type(4) > div:first-of-type > input{
    border-bottom: 2px solid forestgreen;
    box-shadow: forestgreen 2.4px 2.4px 3.2px;
}
/*---------------------table--------------------*/
#inventory-tbl > thead th {
    background-color: greenyellow;
}
.inventory-tbl-img{
    height: 100px;
    width: 80px;
    /*background-color: #C5ACE3;*/
}
